.section-title {
    margin-right: 0;
}

.exercise-title {
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 28px;
    margin-right: 10px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2C3157;
    border-right: 1px solid rgba(44, 49, 87, 0.3);
}

.exercise-checkbox {
    display: inline-block;
}

.exercise-checkbox label {
    font-weight: bold;
    color: red;
    transition-duration: 200ms;
}

.exercise-checkbox input[type="checkbox"] {
    margin: 0;
}

.exercise-checkbox input[type="checkbox"]:checked ~ label {
    color: green;
}

.first-group-exercise-1,
.first-group-exercise-2,
.first-group-exercise-3,
.third-group-exercise-1,
.third-group-exercise-2,
.third-group-exercise-3 {
    margin-top: 28px;
}

.exercise-pics-container {
    text-align: center;
}

.exercise-pic {
    display: inline-block;
    text-align: center;
    font-style: italic;
    margin: 0 10px;
    margin-top: 20px;
    padding: 0;
}

.first-group,
.second-group,
.third-group {
    padding-bottom: 30px;
    margin-bottom: 26px;
    border-bottom: 1px solid rgba(44, 49, 87, 0.3);
}

.third-group {
    margin-bottom: 20px;
}

.first-group {
    margin-top: 56px;
}

.exercise-form .btn {
    display: block;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
