<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Knee Recovery Helper</title>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<body>
  <main class="login-container">
    <div class="logo">
      <img src="img/logo.png" alt="Knee recovery helper" width="154" height="84">
    </div>
    <section class="login">
      <h2 class="section-title">Введите данные для входа</h2>
      <div th:if="${param.error}" class="error-message">
        Неверный логин или пароль
      </div>
      <form class="login-form" action="/login" th:action="@{/login}" method="post">
        <div class="login-form-group">
          <input type="text" name="username" placeholder="Адрес электронной почты"/>
        </div>
        <div class="login-form-group">
          <input type="password" name="password" placeholder="Пароль"/>
        </div>
        <div class="login-form-group login-submit">
          <input type="submit" class="btn" value="Войти"/>
        </div>
      </form>
    </section>
  </main>
</body>
</html>
